img {
  width: 10%;
  height: 10%;
}

p {
  display: inline;
}

.btn {
  margin-top: 8px;
}

a {
  color: black;
}

.container {
  padding: 50px !important;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.hide {
  display: none;
}