img {
  width: 10%;
  height: 10%;
}

body {
  background-color: lightgoldenrodyellow
}

p {
  display: inline;
  font-size: 20px;
}

.btn {
  margin-top: 8px;
}

a {
  color: black;
}

.container {
  padding: 50px !important;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.stream-header {
  background-color: steelblue
}